*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.1);
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}
h1{
    font-size: 36px;
    user-select: none;
    color: #cda357;
    margin-bottom: 16px;
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width:70%;
    margin-bottom: 25px;
}
.input input{
    border: none;
    outline: none;
    margin-inline: 7px;
}
.input input[type="text"]{
    padding: 10px;
    font-size: 20px;
    width: 70%;
    text-align: left;
    border-radius: 7px;
    color: black;
    cursor:text;
}
.input input[type="button"]{
    background-color: rgb(22, 200, 93);
    width: 80px;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1.05px;
    user-select: none;
    transition: background-color 0.3s ease-in-out;
}
.input input[type="text"]::placeholder {
    color: #9dbf9e;
}
.input input[type="button"]:hover{
    background-color: green;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
}
ul li{
    margin-block: 10px;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    font-size: 18px;
    border: 0.1px solid #dbcfcf;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
ul li:hover{
    background-color: #dddd6e;
}
p{
    padding: 15px;
    width: 100%;
    height: 100%;
    text-align: left;
    color: chocolate;
}
.remove-btn {
    padding: 10px 10px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1.05px;
    user-select: none;
    background-color: #e74c3c; 
    border: none;
    font-weight: normal;
    transition: background-color 0.3s ease-in-out;
}
.edit-btn {
    padding: 10px 10px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1.05px;
    user-select: none;
    background-color: #3498db;
    border: none;
    font-weight: normal;
    transition: background-color 0.3s ease-in-out;
    margin-left: 5px;
    margin-right: 5px;
}
.remove-btn:hover {
    background-color: #c0392b;
}
.edit-btn:hover {
    background-color: #2980b9;
}
@media (max-width:1023px) {
    h1{
        font-size: 34px;
    }
    .input{
        min-width:80%;
    }
    .input input[type="text"]{
        width: 80%;
    }
    ul{
        width: 75%;
    }
}
@media (max-width:767px) {
    h1{
        font-size: 30px;
    }
    .input{
        min-width:90%;
    }
    .input input[type="text"]{
        width: 90%;
    }
    ul{
        width: 85%;
    }
}
@media (max-width:629px) {
    h1{
        font-size: 25px;
    }
    .input{
        width: 100%;
    }
    .input input[type="text"]{
        font-size: 16px;
        width: 97%;
    }
    ul{
        width: 95%;
    }
    ul li{
        font-size: 14px;
    }
    .remove-btn {
        font-size: 12px;
        letter-spacing: 1px;
    }
    .edit-btn {
        font-size: 12px;
        letter-spacing: 1px;
    }
}
@media (max-width:443px) {
    h1{
        font-size: 21px;
    }
    ul li{
        display: flex;
        flex-direction: column;
    }
    .edit-btn {
        margin-left: 25px;
        margin-right: 15px;
    }
}
@media (max-width:320px) {
    h1{
        font-size: 18px;
        margin-bottom: 12px;
    }
    .input{
        flex-direction: column;
    }
    .input input{
        margin-block: 7px;
    }
    .input input[type="text"]{
        font-size: 14px;
    }
    .input input[type="button"]{
        font-size: 15px;
        letter-spacing: 1px;
    }
    ul li{
        font-size: 11px;
    }
    p{
        padding: 12px;
    }
    .remove-btn {
        padding: 7px 7px;
        font-size: 10px;
    }
    .edit-btn {
        padding: 7px 7px;
        font-size: 10px;
    }
}

